:root{
    --cor-primaria: ;
    --cor-secundaria: ;
    --cor-destaque: ;
    --cor-fonte-padrao: ;
    --cor-fonte-destaque: ;
    --fonte-padrao: monospace;
    --fonte-destaque: ;
    --arredondamento: ;
    --sombra: ;
}

@font-face{
    font-family: "";
    src: url();
}